body {
  margin: 0;
}

.sss-viewer-root {
  display: flex;
  flex-direction: column;
}

.sss-viewer-root .header {
  display: flex;
}

.sss-viewer-root .contains {
  display: flex;
}

.sss-viewer-root .server-list {
  flex: 1;
  height: 90vh;
  padding: 1em;
  overflow: scroll;
}

.sss-viewer-root .main {
  flex: 3;
  height: 90vh;
  margin-left: 1em;
}

.sss-viewer-root .main .interface {
  display: flex;
}

.sss-viewer-root .main .inputs {
  display: flex;
  flex-direction: column;
}

.sss-viewer-root .main .inputs .server-position button {
  margin: 0.5em;
}

.sss-viewer-root .main .server-address {
}

.sss-viewer-root .main .server-address button {
  width: 90%;
  margin: 0.5em;
}

.sss-viewer-root .main .server-command .table {
  display: table;
  border: groove;
}

.sss-viewer-root .main .server-command .table .row {
  display: table-row;
}

.sss-viewer-root .main .server-command .table .row .key {
  display: table-cell;
  width: 2em;
  height: 2em;
  border: groove;
  text-align: center;
}

.sss-viewer-root .main .server-content {
  margin-left: 1em;
}

.sss-viewer-root .main .server-content .table {
  display: table;
  border: groove;
}

.sss-viewer-root .main .server-content .table .row {
  display: table-row;
}

.sss-viewer-root .main .server-content .table .row .card {
  display: table-cell;
  width: 120px;
  padding: 1em;
  border: groove;
}

.sss-viewer-root .main .server-content .table .row .card .card-name {
  margin: 0;
  font-size: x-small;
}
